.u-section-1 .u-sheet-1 {
  min-height: 1213px;
}

.u-section-1 .u-shape-1 {
  width: 306px;
  height: 306px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px 198px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 146px;
  height: 146px;
  margin: 620px auto 0 276px;
}

.u-section-1 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("images/logo.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 27px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -1029px auto 0 32px;
}

.u-section-1 .u-shape-3 {
  width: 245px;
  height: 245px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -181px auto 0 13px;
}

.u-section-1 .u-group-1 {
  width: 634px;
  min-height: 534px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -270px 0 34px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 50px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1230px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 109px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 187px;
  }

  .u-section-1 .u-image-1 {
    width: 782px;
    height: 782px;
  }

  .u-section-1 .u-shape-3 {
    width: 248px;
    height: 248px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    width: 557px;
    min-height: 542px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 94px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 125px;
    height: 125px;
    margin-top: 528px;
    margin-left: 82px;
  }

  .u-section-1 .u-image-1 {
    width: 616px;
    height: 616px;
    margin-top: -877px;
    margin-left: 22px;
  }

  .u-section-1 .u-shape-3 {
    width: 207px;
    height: 207px;
    margin-top: -175px;
  }

  .u-section-1 .u-group-1 {
    width: 489px;
    min-height: 544px;
    margin-top: -233px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1570px;
  }

  .u-section-1 .u-shape-1 {
    width: 210px;
    height: 210px;
    margin-top: 56px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 524px;
    margin-right: 184px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -770px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 211px;
    height: 211px;
    margin-top: -99px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 174px;
    margin-right: 13px;
    margin-bottom: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1225px;
  }

  .u-section-1 .u-shape-1 {
    width: 144px;
    height: 144px;
  }

  .u-section-1 .u-shape-2 {
    width: 88px;
    height: 88px;
    margin-top: 282px;
    margin-right: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 327px;
    height: 327px;
    margin-top: -477px;
  }

  .u-section-1 .u-shape-3 {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: 13px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 146px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 778px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 69px 49px 0;
}

.u-section-2 .u-list-1 {
  margin-top: 55px;
  margin-bottom: 60px;
  grid-template-rows: repeat(1, auto);
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 429px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.4;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/Copie-de-partage-image-TWITTER-1.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-image-4 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 347px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-1 {
    width: 166px;
    height: 166px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-2 {
    width: 166px;
    height: 166px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-3 {
    width: 166px;
    height: 166px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-4 {
    width: 166px;
    height: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1006px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    width: 224px;
    height: 224px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-2 {
    width: 224px;
    height: 224px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-3 {
    width: 224px;
    height: 224px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-4 {
    width: 224px;
    height: 224px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: url("images/4Ldansldesert.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 794px;
}

.u-section-3 .u-group-1 {
  width: 561px;
  min-height: 417px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 60px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 24px auto 0 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-3 .u-group-1 {
    width: 495px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-position: 24.77% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-3 .u-group-1 {
    width: 416px;
    min-height: 509px;
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 29.94% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-3 .u-group-1 {
    width: 303px;
    margin-left: 53px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 17.39% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-3 .u-group-1 {
    width: 299px;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}